$minViewport: 375;
$maxViewport: 1920;
$minCap: true;
$maxCap: true;

@mixin fluid($property, $minValue, $maxValue) {
  $x: calc(($maxValue - $minValue) / ($maxViewport - $minViewport));
  $y: $maxValue - $maxViewport * $x;
  #{$property}: calc(#{100 * $x}vw + #{$y}px);

  @if $minCap {
    @media screen and (max-width: ($minViewport - 1px)) {
      #{$property}: #{$minValue}px;
    }
  }

  @if $maxCap {
    @media screen and (min-width: ($maxViewport + 1px)) {
      #{$property}: #{$maxValue}px;
    }
  }
}
